.home_body{
    height: 86%;
    display: flex;
    flex-direction: column;
}
.home_bodyTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 44%;
    padding-left: 30px;
    padding-right: 30px;
}
.home_bodyBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 55%;
    padding-left: 20px;
    padding-right: 20px;
}