.register{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.register_top{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.register_bottom{
    height: 20%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}